# Backend (Django)
venv/
.venv/
env/
db.sqlite3
*.sqlite3
staticfiles/
media/
__pycache__/
*.pyc
*.pyd
*.egg
*.egg-info/
local_settings.py
.env
.env.*
*.log
htmlcov/
.coverage

# Frontend (Next.js)
node_modules/
.next/
.env.local
.env.*.local
.swc/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE and Editor files (can be common)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

TODO.txt
easyinn-2c8c9-f21bf8e4c33f.json

easyinn-2c8c9-firebase-adminsdk-fbsvc-d8e7c136a9.json

easyinn-mobile/android/
easyinn-mobile/ios/